version: '3.2'
services:

    minio:
        container_name: minio
        image: minio/minio:RELEASE.2022-11-08T05-27-07Z
        command: server /data --console-address ":9001"
        ports:
            - "9001:9000"
            - "9002:9001"

    zookeeper:
        container_name: zookeeper
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"

    course-kafka:
        container_name: course-kafka
        image: wurstmeister/kafka:2.13-2.8.1
        environment:
            KAFKA_ADVERTISED_HOST_NAME: course-kafka
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        ports:
            - "9092:9092"
        depends_on:
            - zookeeper

    kafdrop:
        container_name: kafdrop
        image: obsidiandynamics/kafdrop:3.30.0
        ports:
            - "9003:9000"
        environment:
            - KAFKA_BROKERCONNECT=course-kafka:9092
        depends_on:
            - course-kafka
            
    mariadb:
        container_name: mariadb
        image: mariadb:10.6
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: admin
            MYSQL_USER: admin
            MYSQL_PASSWORD: admin
            MYSQL_DATABASE: metastore_db
    
    hive-metastore:
        container_name: hive_metastore
        image: ofrir119/hive-metastore:1.0
        ports:
            - 9083:9083
        depends_on:
            - mariadb
        
    dev_env:
        container_name: dev_env
        image: ofrir119/developer_env:spark340_ssh
        ports:
            - "22022:22"
            - "8888:8888"
            - "4040:4040"
            - "4041:4041"
            - "4042:4042"
        volumes:
            - dev_env_data:/home/developer

    mongo:
        image: nayacollege/mongo:1.0
        container_name: mongo
        ports:
            - "27017:27017"
            
    nifi:
        image: nayacollege/nifi:1.0
        container_name: nifi
        ports:
            - "8080:8080"
            
    elasticsearch:
        container_name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
        ports:
            - "9200:9200"
        environment:
            discovery.type: single-node
            # ELASTIC_HEAP_SIZE: 1g # Uncomment if necessary
            
    kibana:
        container_name: kibana
        image: docker.elastic.co/kibana/kibana:7.13.2
        ports:
            - "5601:5601"
        depends_on:
            - elasticsearch
            
    postgres:
        container_name: postgres
        image: postgres:12
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=airflow
            - POSTGRES_PORT=5432
        ports:
            - "5432:5432"

    # RSS Aggregator MySQL Service
    mysql:
        container_name: mysql
        image: mysql:8.0
        ports:
            - "3307:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: RSS_Aggregator
            MYSQL_USER: gili
            MYSQL_PASSWORD: dhkthkhv
        volumes:
            # 1. Mount the named volume for persistent data
            - mysql_data:/var/lib/mysql
            # 2. Mount the initialization scripts (assuming a local directory named 'db_init')
            - ./db_init:/docker-entrypoint-initdb.d

volumes:
    # Correct structure for NAMED volumes
    dev_env_data:
    mysql_data: